<!DOCTYPE html>
<html lang="es">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mineduc</title>
	<link rel="shortcut icon" type="image/x-icon" href="Mineduc_INT/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/mineduc.css" media="screen">
	<script type="text/javascript" src="js/libs/jquery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="js/libs/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="js/libs/backbone/backbone-min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/router.js"></script>
	<script type="text/javascript" src="js/views/menuSeccionesView.js"></script>
	<script type="text/javascript" src="js/views/catalogo_datos_view.js"></script>
	<script type="text/javascript" src="js/views/catalogo_visualizadores_view.js"></script>
	<script type="text/javascript" src="js/views/sidebar_view.js"></script>
	<script type="text/javascript" src="js/collections/coleccion_datos.js"></script>
	<script src="js/libs/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript"></script>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-glyphicons.css" rel="stylesheet">
	<style type="text/css">
			@media (max-width: 767px) {
				.affix{
					position: static;
				}
			}
			@media (max-width: 480px) {
				.affix{
					position: static;
					width: 100%;
				}
			}
			@media (min-width: 768px) and (max-width: 1980px) {
			   .accordion{
			      width: 230px;
			    }
			}
	</style>
	<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-42890251-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
	</script>
</head>

<body>
	<div class="container CLASE">
		<header>
			<br>
			<div class="row">
				<div class="col-lg-3 col-12 col-sm-12">
					<a href="#">
						<img rendermode="preview" src="img/mineduc/462_760_logo_header.png">
					</a>
				</div>
				<div class="col-lg-9 col-12 col-sm-12">
					<h1> data.mineduc.cl </h1>
					<h2> Indicadores educativos para la comunidad</h2>
				</div>
			</div>
		</header>

		<div class="container">			
			<div class="maincontent"></div>
		</div> 

		<footer>
			<div class="btn-inverse label-invers" style="background-color:#000">
				<div class="row" id="footer_fila">
					<div class="col-lg-3 col-12 col-sm-12">
						<div id="img_footer">.</div>
					</div>
					<div class="col-lg-9 col-12 col-sm-12">
						<span class="NegritaBlanca">
								<span>Ministerio de Educación 
								Teléfono: +56 2 240 660 00
								 Dirección:&nbsp;  Av. Libertador Bernardo O'higgins 1371
								</span>
						</span>
					</div>
				</div>
			</div>
		</footer>
	</div>

<!-- ------------------------- TEMPLATES ----------------------------------------- -->

		<!-- 
			template principal
			Contenedor Secciones (Catalo de datos, Catalogo de Visualizadores)
			TABS (Ed. escolar, Ed. Superior, Ed. Parvularia)
		-->
		<script type="text/template" id="template_MainView">
			<div>
				<div class="row menu secciones"></div>
				<br/>
				<div class="row seccion catalogo_datos">
					<ul id="tabs" class="nav nav-tabs menu subseccion" data-tabs="tabs">
						<li class="active"><a href="#edu_escolar" data-toggle="tab">Educación Escolar</a></li>
						<li><a href="#edu_superior" data-toggle="tab">Educación Superior</a></li>
						<li><a href="#edu_parvularia" data-toggle="tab">Educación Parvularia</a></li>
					</ul>

					<div id="my-tab-content" class="tab-content">
						<div class="tab-pane active" id="edu_escolar">
							<div class="subseccion educacion_escolar"></div>
						</div>
						<div class="tab-pane" id="edu_superior">
							<div class="subseccion educacion_superior"></div>
						</div>
						<div class="tab-pane" id="edu_parvularia">
							<div class="subseccion educacion_parvularia"></div>
						</div>
					</div>
				</div>
				<div class="row seccion catalogo_visualizadores">
					<div class="menu subseccion"></div>
					<div class="subseccion visualizadores"></div>
				</div>
			</div> 
		</script>

		<!-- -----------------------------template_menu_secciones ----------------------------------------------------- -->
		<script type="text/template" id="template_menu_secciones">
			<a id="catalogoDatos" href="#" type="catalogo1" class="btn btn-large btn-primary btnCatalogo ">Catálogo de datos</a>
			<a id="catalogoVisualizadores" href="#!datos" type="catalogo2"class="btn btn-large  btnCatalogo ">Catálogo de visualizadores</a>
		</script>

		<!-- template_CatalogoDatosMainView -->
		<script type="text/template" id="template_CatalogoDatosMainView">
			<div class="row">
				<div class="col-lg-3 col-12 col-sm-3 sidebar"></div>
				<div class="col-lg-9 col-12 col-sm-9">
					<div class="temas"></div>
				</div>
			</div>	
		</script>

		
		<!-- template_CatalogoDatosItemView -->
		<script type="text/template" id="template_CatalogoDatosTemasView">
			<h2 id="<%=slug%>"> <%=tema%></h2>
			<div class="item"></div>
			<hr/>
		</script>

		<!-- template_CatalogoDatosTemaView -->
		<script type="text/template" id="template_CatalogoDatosTemaView"
			<br/>
			<h3 id="<%=slug%>"><%=titulo%></h3><br/>
			<p><%=descripcion%></p>
			<table>
				
				<% if (obj.fuente != null) { %>	
					<tr>
						<td>Fuente:</td> <td><%=fuente%></td>
					</tr>
				<% } %>
				
				<% if (obj.actualizacion != null) { %>	
					<tr>
						<td>Actualización: </td> <td><%=actualizacion%></td>
					</tr>
				<% } %>

				<% if (obj.vigencia != null) { %>
					<tr>
						<td>Vigencia: </td> <td><%=vigencia%></td>
					</tr>
				<% } %>

				<% if (obj.esquema_de_datos != null) { %>
				  	<tr>
						<td>Esquema de datos: </td>
						<td><a href="<%=esquema_de_datos%>">Descargar<a></td>
					</tr>
				<% } %>

				
			<table>
			<br/>
			<table class="table">
				<thead>
					<tr>
						<th><%=etiqueta_categoria%></th>
						<th>Formato</th>
						<th>Tamaño Referencial</th>
					</tr>
				</thead>
				<tbody class="itemTR table"></tbody>
			</table>
		</script>

		<script type="text/template" id="template_CatalogoDatosTRItemView">
			<td><%=categoria%></td>
			<td><div class="list formatos"></div></td>
			<td><%=tamagno%></td>
		</script>

		<!-- template_CatalogoDatosFormatoItemView -->
		<script type="text/template" id="template_CatalogoDatosFormatoItemView">
			<a class="<%=tipo%> download" href="<%=url%>">....</a>
		</script>



		<!-- ---------------------------------- TEMPLATES CATALOGO VISUALIZADORES ------------------------------ -->

		<!-- template CatalogoVisualizadoresListView -->
		<script type="text/template" id="template_CatalogoVisualizadoresMainView">
			<div class="row">
				<div class="col-lg-3 col-12 col-sm-12 sidebarViz"></div>
				<div class="col-lg-9 col-12 col-sm-12">
					<ul class="list-unstyled list visualizadores"></ul>
				</div>
			</div>	
		</script>

		<!-- template CatalogoVisualizadoresCategoriaView -->
		<script type="text/template" id="template_CatalogoVisualizadoresCategoriaView">
			<h3 id="<%=slug%>">  <%=titulo%>   </h3>
			<div class="row  list visualizador"></div>
		</script>

		<!-- template viewsCatalogoVisualizadoresItemView -->
		<script type="text/template" id="template_CatalogoVisualizadoresItemView">
			<a href="<%=url%>" target='_blank' class="thumbnail">
				<img class="thumbnails img-responsive viz" src="<%=thumbnails%>"/>
			</a>
		<br/>
			<a href="<%=url%>" target='_blank' title="<%=nombre%>" alt="<%=url%>" class="windowIframe viz"><%=nombre%></a>
		</script>


		<!-- ---------------------------- TEMPLATES SIDEBAR  CATALOGO DE DATOS ---------------------------------------------------------------------- -->
		<script type="text/template" id="template_SideBarView">
			<br/>
			<div class="accordion" id="accordion<%=tab%>"></div>
		</script>

		<script type="text/template" id="template_SideBarItemView">
			 <div class="accordion-heading">

				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%=tab%>" 
						href="#collapse<%=slug%>" onclick="window.location.href='#<%=slug%>'"> 
						<span class="badge pull-right"><%=count%></span>
					<%=tema%>  
				</a>

			</div>
			<div id="collapse<%=slug%>" class="accordion-body collapse">
					  <div class="accordion-inner">
					  		<ul class="nav"></ul>
					  </div>
			</div>
		</script>

		<!-- template SideBarTemaView -->
		<script type="text/template" id="template_SideBarTemaView">
				<a href="#<%=slug%>"><%=titulo%></a>
		</script>


		<!-- ----------------------------------- SIDEBAR VISUALIZADORES -------------------------------------------------- -->
		<script type="text/template" id="template_SideBarViewViz">
			<br/>
			<div class="bs-sidebar">
			<ul class="nav bs-sidenav navex panel"></ul>
			</div>
		</script>

		<script type="text/template" id="template_SideBarItemViewViz">
			<a title="<%=titulo%>" alt="<%=titulo%>"  href="#<%=slug%>">  <%=titulo%></a>
		</script>

			
	</body>
</html>